/*Styling of header*/
	#header {
		height: 20px;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 7px;
	}

	#name {
		margin-left: auto;
		margin-right: auto;
		float: left;
		text-align: left;
		font-family: 'Futura';
		/*font-family: 'Open Sans', serif;*/
		max-width: 700px;
		font-size: 20px;
	}

/* Social Icons*/
	#icons{
		text-align: right;
		float: right;
		width: 200px;
		padding-right: 55px;
	}

	#icon-tumblr:hover{
		/*background-color: #2F4B66;*/
/*		-moz-border-radius:35px;
 		-webkit-border-radius:35px;*/
 		/*border-radius: 20px;*/
	}

	a.socialIcons:hover{
		opacity: .65;
		filter:alpha(opacity=80); /* For IE8 and earlier */
	}

/*Logo Styling (big A)*/
	.circle {
		width:100px;
		height:100px;
		border-radius:50px;
		border: 1px solid #ccc;
		font-size:75px;
		font-family: 'Old Standard TT', serif;
		color:#fff;
		line-height:100px;
		text-align:center;
		background:#000;
		margin: auto;
	}

	.circle:hover {
		color:#000;
		background: #fff;
		border: 1px solid #ccc;
	}

/*Spacer to separate icon from navbar*/
	.spacer{
	 height: 20px;
	}

/*Styling of Navigation Bar*/
	#nav{
	border:1px solid #ccc;
	border-width:1px 0;
	list-style:none;
	margin-top: 20;
	padding: 10px 0px;
	text-align:center;
	}

	#nav ul{
		-webkit-margin-before:0em;
		-webkit-margin-after:0em;
		-webkit-padding-start: 0px;
	}

	#nav li{
	  display:inline;
	}

	#nav a {
	    display:inline-block;
	    padding:0px 20px;
	    font-family: 'Futura';
	    /*font-family: 'Open Sans', serif; /*'Vollkorn';*/
	    color: black;
	  	text-decoration: none;
	}

	#nav a:hover {
		text-decoration: underline;
	}

/*Styling of page content*/
	.content {
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		font-weight: lighter;
		max-width: 700px;
	}

	.content p, .content a {
		font-family: 'Open Sans', serif;
	}

	.content h3 {
		font-family: 'Futura';
	}

	.content p a {
		color: grey;
	}

	.content p a:hover {
		color: #CDCDCD;
	}

	.link-project {
		text-decoration: none;
		color: black;
	}

	.link-project:hover {
		color: grey;
	}

/*Hide #projects on page load*/
	#projects {
		display: none;
	}

/*Styling footer*/
	#footer {
		margin-left: auto;
		margin-right: auto;
		padding: 50px 0px 10px 0px;
		max-width: 700px;
		font-family: 'Open Sans', serif;
		font-size: 12px;
		text-align: center;
		text-shadow: 0 1px 0px #fff;
		color: gray;
	}

/*Media queries for mobile formatting*/
	@media (max-width : 600px) {
		.circle {
		  display: none;
		}

		#icons {
			display: none;
		}

		#name{
			text-align: center;
			float: center;
		}
	}

	@media (max-width : 400px) {
		#nav a{
			padding: 0px 4px;
		}
	}
