<header class="site-header">

  <div class="header-main">
    <div id="name"><b>Alexander Leishman</b></div>
    <div id="icons">
      <a class="socialIcons" href="http://github.com/leishman" title="View Alex Leishman's Github Repo" alt="Alex Leishman Github" target="_newtab"><img id="icon-github" src="{{% site.url %}}/assets/images/github-32.png" /></a>
      <a class="socialIcons" href="http://linkedin.com/in/alexanderleishman" title="Visit Alex Leishman's LinkedIn profile" alt="Alex Leishman LinkedIn" target="_newtab"><img id="icon-linkedIn"src="{{% site.url %}}/assets/images/linkedin-32.png" /></a>
      <a class="socialIcons" href="http://twitter.com/leishman" title="Follow Alex Leishman on Twitter" alt="@leishman Twitter Icon" target="_newtab"><img id="icon-twitter" src="{{% site.url %}}/assets/images/twitter-32.png" /></a>
      <a class="socialIcons" href="http://alexleishman.tumblr.com" title="Follow Alex Leishman on tumblr" alt="Alex Leishman tumblr" target="_newtab"><img id="icon-tumblr" src="{{% site.url %}}/assets/images/tumblr-32.png" /></a>
    </div> <!-- End #icons -->
  </div> <!-- End .header-main -->
  <div class= "circle font-effect-canvas-print"> A </div>
  <div class="spacer"></div>
  <nav class="site-nav">
    <ul>
      {% if page.path == "index.html" %}
        <li><a href="/" class="link-nav active" id="link-about">About </a></li>
        <li><a href="/projects/" class="link-nav" id="link-projects">Projects</a></li>
      {% else %}
        <li><a href="/" class="link-nav" id="link-about">About </a></li>
        <li><a href="/projects/" class="link-nav active" id="link-projects">Projects</a></li>
      {% endif %}
      <li><a href="/resume/resume.pdf" target="_newtab" class="link-nav" id="link-resume">Resume</a></li>
      <li><a href="http://blog.alexleishman.com" target="_newtab" class="link-nav" id="link-blog">Blog</a></li>
    </ul>
  </nav> <!-- End nav -->

</header>